---

---

@import url('https://fonts.googleapis.com/css?family=Roboto');

$background:    #FFF;
$text:          #000;
$menu_bg:       #CCC;
$menu_link:     #44b;
$menu_active_link: #888;
$menu_width:    15rem;

$header_height:     3rem;
$header_color:      #FFC;

$header_font: 'Roboto', sans-serif;

$show_hide_button_height:   3rem;
$show_hide_button_width:    1.5rem;

$main_margin_sides:     5rem;
$main_margin_top_bottom: 0.2rem;

$h1_margin_top:     1rem;

$cl_width:      30rem;
$cl_height:     20rem;

*
{
    margin: 0px;
    padding: 0px;
}


html
{
    height: 100%;
}

body
{
    height: 100%;
}

.doc-header
{
    height: $header_height;
    background-color: $header_color;
    border-bottom: 1px solid #000;
    
    a
    {
        color: $text;
        text-decoration: none;
        font-family: $header_font;
    }
}

.main-and-nav
{
    display: grid;
    grid-template-columns: $menu_width auto;
    height: calc(100% - #{$header_height} - 1px);
    
    .sidebar
    {
        background-color: $menu_bg;
        grid-column: 1 / 2;
        border-right: 1px solid #000;
        height: $header_height * 0.75;
        height: 100%;
        
        font-family: $header-font;
        
        ul
        {
            list-style: none;
            a
            {
                color: $menu_link;
                text-decoration: none;
            }
            
            a.active
            {
                color: $menu_active_link;
            }
        }
        
        h3, ul *
        {
            margin: 0.2rem 1rem;
        }
        
        .doc-header-title
        {
            margin-top: $header_height / 7.5;
            display: flex;
            
            *
            {
                margin: auto;
                font-family: $header_font;
            }
        }
    }
    
    #hide-show-sidebar
    {
        position: fixed;
        height: $show_hide_button_height;
        width: $show_hide_button_width;
        top: calc(50% - #{$show_hide_button_height / 2});
        left: calc(#{$menu_width} - 1px);
        display: flex;
        background-color: $menu-bg;

        border-right: 1px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        
        p
        {
            margin: auto;
        }
    }

    main > *
    {
        margin: $main_margin_top_bottom $main_margin_sides;
    }

    main
    {
        h1, h2, h3, h4
        {
            margin-top: $h1_margin_top;
            font-family: $header_font;
        }
    }
}

.index-wrapper
{
    display: flex;
    width: 100%;
    height: 100%;
    
    .cl-main
    {
        margin: auto;
        width: $cl_width;
        height: $cl_height;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        
        border: 1px solid #000;
        
        .cl-title-sv
        {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            display: flex;
            
            h3
            {
                margin: auto;
            }
            
        }
        
        .cl-title-en
        {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
            display: flex;
            
            h3
            {
                margin: auto;
            }
        }
        
        .cl-lang-sv
        {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            display: flex;
            
            img
            {
                width: $cl_width / 2.5;
                margin: auto
            }
            
            border-right: 1px solid #000;
            border-top: 1px solid #000;
        }
        
        .cl-lang-en
        {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            display: flex;
            
            img
            {
                width: $cl_width / 2.5;
                margin: auto;
            }
            
            border-top: 1px solid #000;
        }
    }
}







