---

---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>TestOS - Choose Language</title>
        <link href="{{ "/css/main.css" | relative_url}}" rel="stylesheet" />
    </head>
    <body class="index-wrapper">
        <div class="cl-main">
            <div class="cl-title-sv">
                <h3>Var vänlig välj språk</h3>
            </div>
            <div class="cl-title-en">
                <h3>Please choose a language</h3>
            </div>
            <div class="cl-lang-sv" onclick="window.location.pathname = '{{ "/sv/docs" | relative_url}}'">
                <img src="{{ site.data.resources.sweflag.path | relative_url }}" />
            </div>
            <div class="cl-lang-en"  onclick="window.location.pathname = '{{ "/en/docs/index.html" | relative_url }}'">
                <img src="{{ site.data.resources.enflag.path | relative_url }}" />
            </div>
        </div>
        <script src="js/other_functions.js"></script>
    </body>
</html>