<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }}</title>
        <link href="{{ "/css/main.css" | relative_url }}" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {{ content }}
    </body>
</html>