---
layout: default
---

{% include doc_header.html %}

<div class="main-and-nav">
    <nav class="sidebar">
        <div class = "doc-header-title">
            <h2>Dokumentation</h2>
        </div>
        {% assign docs = site.endocs | group_by: 'category' %}
        {% for category in docs %}
        <h3>{{ category.name }}</h3>
            <ul>
                {% assign ditems = category.items | sort: 'order' %}
                {% for item in ditems %}
                {% if item.hidden %}
                {% else %}
                    <li><a href="{{ item.url | relative_url }}" {% if page.url == item.url%} class = "active" {% endif %} >{{ item.title }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </nav>
    <div id="hide-show-sidebar" onclick="toggle_sidebar()">
        <p><</p>
    </div>
    <main>
        <i>Please note that the English translation is a work in progress and will most likely lag behind the Swedish version.</i>
        {{ content }}
    </main>
</div>

<script src="{{ "/js/docs_functions.js" | relative_url }}"></script>